body{
    margin: 5%;
    margin-left: 10%;
    margin-right: 10%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 1px solid black;
    padding: 20px;
}
#photo{
    height: 200px;
    width: 200px;
    border-radius: 90px;
    border: 1px solid cornsilk;
    margin-left: 15%;
}
.container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr auto;
    gap: 20px; 
}
h2{
    font-size: 30px;
    color: #385170;
}
#buttons{
    margin: 2%;
    border-radius: 5px;
    border: none;
    background-color:#ececec; 
    padding: 8px;
    font-size:15px ;
}
.bio{
    background: #385170; 
    padding: 15px;
    color: #ececec;
}

h3{
    font-size: 20px;
    
}
p{
    font-size: 17px;
}
.contact li{
    font-size: 17px;
}
hr{
    height: 3px;
    background-color: black;
}
#name{
    color: #ececec;
}
.bio hr{
    background-color:  #ececec;
}
@media (max-width: 600px) {
    .container{
      grid-template-columns: auto;
      grid-template-rows: auto;
      
    }
  }
  @media (max-width: 600px) {
    body{
      border: none;
    }
  }
